.filter-section {
  padding: 25px 0;
  display: flex;

  .custom-select {
    display: inline;
    position: relative;

    &:after {
      font: 20px FontAwesome;
      color: #363636;
      right: 8px;
      height: 10px;
      margin-top: 5px;
      padding: 4px 10px 12px 10px;
      border-left: 1px solid #363636;
      position: absolute;
      pointer-events: none;
    }

    &.up:after {
      content: "\f106";
    }

    &.down:after {
      content: "\f107";
    }

    input {
      border: 1.8px solid $dark-grey;
      border-radius: 3px;
      padding: 8px;
      width: 200px;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      font-weight: 600;
      cursor: pointer;
      &:disabled {
        background: $light-grey;
        cursor: default;
      }
    }

    ul.options {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      background: white;
      width: auto;
      border: 1px solid $light-grey;
      font-size: 14px;
      color: $dark-grey;
      border-radius: 3px;
      font-family: Arial, Helvetica, sans-serif;
      z-index: 20;
      -webkit-box-shadow: 0 5px 10px 0 $medium-grey;
      -moz-box-shadow: 0 5px 10px 0s $medium-grey;
      box-shadow: 0 5px 10px 0 $medium-grey;

      li {
        width: 200px;
        border-bottom: 1px solid $medium-grey;
        padding: 8px;

        &:last-child {
          border: none;
        }

        &.selected {
          font-weight: bold;
        }

        &:hover,
        &.active {
          transition: 0.5s;
          cursor: pointer;
          background: $light-grey;
        }
      }
    }
  }

  .period-field {
    margin-left: 40px;
    display: flex;

    button {
      border: 1.8px solid $dark-grey;
      border-radius: 3px;
      padding: 6px 12px;
      outline: none;
      font-weight: 600;
      cursor: pointer;
      background: white;

      &:disabled {
        border-color: $medium-grey;
        color: $medium-grey;
        cursor: default;
      }

      i:before {
        font: 20px FontAwesome;
      }

      &.prev i:before {
        content: "\f104";
      }

      &.next i:before {
        content: "\f105";
      }
    }

    input {
      text-align: center;
      margin: 0 10px;
      border: 1.8px solid $dark-grey;
      border-radius: 3px;
      padding: 8px;
      width: 100px;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      font-weight: 600;
      cursor: default;
      &:disabled {
        background: $light-grey;
        cursor: default;
      }
    }
  }
}
